@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 18px;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.5;

}

/*cabeçalho */
nav {
    background-color: #85B8CB;
    text-align: center;
    padding: 10px 0;
    height: 130px;
   
}

nav img {
    vertical-align: middle;
    margin-right: 10px;
}

nav h1 {
    font-size: 24px;
    padding-top: 50px;
    
}
#logoprogramacao{
    position: absolute;
    left: 20px;
}

#logoreni {
    height: 60px;
    width: auto;
    position: absolute;
    right: 20px;
    top: 10px;
}

#titulo--principal{
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: #333;
}

.container article {
    flex: 1 1 45%;
    margin: 10px;
 
}

.container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
}

/* secao objetivo */
.objetivo {
    background-color: #fff;
    /* padding: 20px; */
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.objetivo h2 {
    color: #333;
    margin-bottom: 10px;
}

.objetivo p {
    color: #0b0b0b;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: space-around; 
    align-items: right; 
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}

.container.single {
    justify-content: space-between;
    max-width: 800px; 
    padding: 20px; 
    text-align: left;
}
.mandala{
    max-width: 800px;
}

.content {
    flex: 1; 
}
  
  .image {
    flex: 1; 
    text-align: right; 
  }
  
  .image img {
    max-width: 100%; 
    height: auto; 
  }
  

  p {
    text-align: left; 
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Cria duas colunas de largura igual */
    gap: 20px; /* Espaço entre as colunas */
    max-width: 1200px;
  }